* {
    font-family: 'Akshar', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;

}

header {
    color: aliceblue;
    background-color: black;
}

section {
    width: cover;
    height: 840px;
    color: antiquewhite;
    background-color: black;
    background-image: url(toc.jpg);
    background-size: cover;
}